/*
=============== 
Variables
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');
:root {
    /* Colours */
    --bg-primary: #f8f9ed;
    --bg-border-primary: #79642c;

    --clr-primary: #c1563d;
    --clr-primary-outline: #a64e3b;

    --clr-primary-hover: #b04b34;
    --clr-primary-outline-hover: #803c2e;

    --clr-secondary: #546a7b;
    --clr-secondary-hover: #425461;

    --transition: all 0.3s linear;
}

/*
=============== 
Global Styles
===============
*/

main {
    min-width: 375px;
}

main,
.full-height {
    height: 100vh;
}

.container {
    padding: 0;
}

.btn {
    margin: 0.2rem;
}

/*
=============== 
Background
===============
*/

.background {
    background-image: url('../Resources/Background.jpg');
    background-size: cover;
    display: block;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    filter: blur(0.4em);
    transform: scale(1.05);
}

/*
=============== 
Quote-Box
===============
*/

#quote-box {
    position: relative;
    background-color: var(--bg-primary);
    border: 0.4em solid var(--bg-border-primary);
    border-radius: 0.5em;
    padding: 1rem;
    z-index: 2;
}

#new-quote {
    position: absolute;
    height: 6em;
    width: 6em;
    bottom: -2.5em;
    right: -2.5em;
    border-radius: 50%;
    background-color: var(--clr-primary);
    border: 0.15rem solid var(--clr-primary-outline);
    box-shadow: 0 0 0.4em var(--clr-primary-outline);
    transition: background-color 0.2s ease-in-out;
    font-family: 'Mirza', cursive;
    font-size: 1.3em;
    line-height: 1.2rem;
    color: white;
}

#new-quote:hover {
    background-color: var(--clr-primary-hover);
    border: 0.15rem solid var(--clr-primary-outline-hover);
}

#new-quote:focus {
    background-color: var(--clr-primary-hover);
    border: 0.3rem solid var(--clr-primary-outline-hover);
}

#text,
#author {
    font-family: 'Courgette', cursive;
}

#text {
    font-size: 1.6rem;
}

#author {
    font-size: 1.1rem;
    color: #677481;
}

.secondary-btn {
    color: var(--bg-primary);
    background-color: var(--clr-secondary);
    border: 0.15rem solid var(--clr-secondary);
    transition: background-color 0.2s ease-in-out;
    font-size: 1.4rem;
}

.secondary-btn:hover {
    background-color: var(--clr-secondary-hover);
    color: var(--clr-primary);
    border: 0.15rem solid var(--clr-secondary);
}

.secondary-btn:active,
.secondary-btn:focus {
    background-color: var(--clr-secondary-hover);
    color: var(--clr-primary);
    border: 0.15rem solid var(--clr-secondary);
    outline: 0;
    box-shadow: none !important;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*
=============== 
Side-Box
===============
*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: var(--bg-primary);
    box-shadow: 0.5rem 0 1rem #736b4c;
    transition: var(--transition);
    transform: translate(-110%);
    font-family: 'Mirza', cursive;
    overflow-y: auto;
}

.show-sidebar {
    transform: translate(0);
}

.sidebar-header {
    font-weight: 600;
    margin-top: 1rem;
}

.sidebar h3 {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    border-top: 0.1em dotted #736b4c;
}

.modal-blur {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in;
    pointer-events: none;
}

.show-modal-blur {
    background: rgba(0, 0, 0, 0.6);
}

.filter-controls-container {
    margin: 0, 1rem;
}

.form-switch {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: var(--clr-secondary);
    border-color: var(--clr-secondary);
}

select {
    margin: 0.6rem 0;
}

.form-select,
.form-select option,
.form-check {
    font-size: 1.1rem;
}

.form-label {
    margin: 0;
}

@media only screen and (min-width: 576px) {
    .sidebar {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        width: 40%;
    }
}

@media only screen and (min-width: 1200) {
    .sidebar {
        width: 30%;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--clr-secondary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
